# **Collaborative Filtering Recommender System For Movie**
**Mehrdad Mohammadian** - fall 2021

**Dataset:**  MovieLens 100k

# **Import Libs**

In [ ]:
# install surprise lib
! pip install scikit-surprise

In [165]:
import pandas as pd
from surprise import KNNWithMeans
from surprise import accuracy
from surprise.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from surprise import Reader, Dataset

In [371]:
reader = Reader(rating_scale=(1, 5))

# **Find The Best HyperParameters**

### **Load Dataset**

In [374]:
cols = ['user_id', 'movie_id', 'rating', 'timestamp']
data = pd.read_csv('u.data',  sep='\t', names=cols)
data.drop(columns='timestamp', inplace=True)
data = Dataset.load_from_df(data, reader)

### **Grid Search**

In [381]:
sim_options = {
    "name": ["cosine", "pearson"],
    "user_based": [False, True],
}
bsl_options = {
    'method': ['sgd'],
    'learning_rate': [0.0005, 0.005]
}
param_grid = {
    "sim_options": sim_options,
    'bsl_options': bsl_options
}

gs = GridSearchCV(KNNWithMeans, param_grid, measures=["rmse", "mae"], cv=3)
gs.fit(data)

Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.

### **Results**

In [382]:
gs.best_params

{'mae': {'bsl_options': {'learning_rate': 0.0005, 'method': 'sgd'},
  'sim_options': {'name': 'pearson', 'user_based': False}},
 'rmse': {'bsl_options': {'learning_rate': 0.0005, 'method': 'sgd'},
  'sim_options': {'name': 'cosine', 'user_based': False}}}

# **Train The Model**

### **Load Dataset**

In [384]:
cols = ['user_id', 'movie_id', 'rating', 'timestamp']
data = pd.read_csv('u.data',  sep='\t', names=cols)
data.drop(columns='timestamp', inplace=True)

In [385]:
data.head()

   user_id  movie_id  rating
0      196       242       3
1      186       302       3
2       22       377       1
3      244        51       2
4      166       346       1

In [504]:
sparse = data.pivot(index='user_id', columns='movie_id', values='rating')

In [505]:
sparse

movie_id  1     2     3     4     5     ...  1678  1679  1680  1681  1682
user_id                                 ...
1          5.0   3.0   4.0   3.0   3.0  ...   NaN   NaN   NaN   NaN   NaN
2          4.0   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
3          NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
4          NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
5          4.0   3.0   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
...        ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...
939        NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
940        NaN   NaN   NaN   2.0   NaN  ...   NaN   NaN   NaN   NaN   NaN
941        5.0   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
942        NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
943        NaN   5.0   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN

[943 rows x 1682 columns]

In [386]:
X = data.copy()
y = data['user_id']
X_train, X_test, _ ,_ = train_test_split(X, y, test_size = 0.20, stratify=y, random_state=42)

In [387]:
print('Data Shape:', X_train.shape, X_test.shape)

Data Shape: (80000, 3) (20000, 3)

In [388]:
X_train = Dataset.load_from_df(X_train[['user_id', 'movie_id', 'rating']], reader)
X_test = Dataset.load_from_df(X_test[['user_id', 'movie_id', 'rating']], reader)

X_train = X_train.build_full_trainset()
X_test = X_test.build_full_trainset()
X_test = X_test.build_testset()

### **Train**

In [391]:
options = {
    'bsl_options': {'learning_rate': 0.0005, 'method': 'sgd'},
    'sim_options': {'name': 'pearson', 'user_based': False}
}
model = KNNWithMeans(sim_options=options['sim_options'], bsl_options=options['bsl_options'])
model.fit(X_train)

Computing the pearson similarity matrix...
Done computing similarity matrix.

### **Test With Metrics**

In [392]:
predictions= model.test(X_test)
accuracy.mae(predictions)
accuracy.rmse(predictions)

MAE:  0.7395
RMSE: 0.9436

0.94358288574682

### **Fill sparse matrix with predicted rates**
after this section we would have a dense matrix

In [506]:
for u_index, row in sparse.iterrows():
    user_num = u_index - 1
    for i_index, item in enumerate(row):
        item_num = i_index+1
        item_rate = sparse.iloc[user_num][item_num]
        if pd.isnull(item_rate):
            sparse.iloc[user_num][item_num] = model.predict(user_num+1, item_num).est
            # print(f'user {user_num+1}  item {item_num} is {item_rate} and predict is {predict.est}')

In [507]:
sparse

movie_id      1         2         3         4     ...  1679      1680  1681  1682
user_id                                           ...
1         5.000000  3.000000  4.000000  3.000000  ...   3.0  3.527887   3.0   3.0
2         4.000000  3.437731  3.125313  3.591362  ...   3.0  3.527887   3.0   3.0
3         3.150601  2.658846  2.492210  2.632303  ...   3.0  3.527887   3.0   3.0
4         5.000000  4.143578  3.727402  4.575867  ...   3.0  3.527887   3.0   3.0
5         4.000000  3.000000  2.361272  3.116525  ...   3.0  3.527887   3.0   3.0
...            ...       ...       ...       ...  ...   ...       ...   ...   ...
939       4.977866  4.037906  4.141668  3.785063  ...   3.0  3.527887   3.0   3.0
940       3.769243  2.974195  2.536475  2.000000  ...   3.0  3.527887   3.0   3.0
941       5.000000  3.448209  3.315365  3.997877  ...   3.0  3.527887   3.0   3.0
942       4.459274  3.791035  3.884371  4.132217  ...   3.0  3.527887   3.0   3.0
943       3.899458  5.000000  3.140142  3.311576  ...   3.0  3.527887   3.0   3.0

[943 rows x 1682 columns]

# **Recommend movies for a system user**

### **Load movie items dataset**

In [534]:
i_cols = ['movie_id', 'title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
movies = pd.read_csv('u.item',  sep='|', names=i_cols, encoding='latin-1')
movies.head()

   movie_id              title release date  ...  Thriller War  Western
0         1   Toy Story (1995)  01-Jan-1995  ...         0   0        0
1         2   GoldenEye (1995)  01-Jan-1995  ...         1   0        0
2         3  Four Rooms (1995)  01-Jan-1995  ...         1   0        0
3         4  Get Shorty (1995)  01-Jan-1995  ...         0   0        0
4         5     Copycat (1995)  01-Jan-1995  ...         1   0        0

[5 rows x 24 columns]

In [558]:
def recommend(user_number, num_items):
    for i in  sparse.iloc[user_number].sort_values(ascending=False).head(num_items).keys():
        print(movies.iloc[i]['title'])

# recommend top 10 movie item to user 456
recommend(456, 10)

Everyone Says I Love You (1996)
Haunted World of Edward D. Wood Jr., The (1995)
Supercop (1992)
Graduate, The (1967)
Guantanamera (1994)
Nikita (La Femme Nikita) (1990)
Evil Dead II (1987)
Patton (1970)
Indiana Jones and the Last Crusade (1989)
Striptease (1996)

### The End